/.vscode
/checkpoints
/datasets/font2hand
/font2hand_exp/__pycache__
*/*.pyc
*/**/*.pyc
*/**/**/*.pyc
*/**/**/**/*.pyc
*/**/**/**/**/*.pyc
*/*.zip
*/**/*.zip
*/**/**/*.zip
*/**/**/**/*.zip
*/**/**/**/**/*.zip