/.vscode
.DS_Store
debug*
datasets/edges2shoes/
build/
dist/
*.png
torch.egg-info/
*/**/__pycache__
torch/version.py
torch/csrc/generic/TensorMethods.cpp
torch/lib/*.so*
torch/lib/*.dylib*
torch/lib/*.h
torch/lib/build
torch/lib/tmp_install
torch/lib/include
torch/lib/torch_shm_manager
torch/csrc/cudnn/cuDNN.cpp
torch/csrc/nn/THNN.cwrap
torch/csrc/nn/THNN.cpp
torch/csrc/nn/THCUNN.cwrap
torch/csrc/nn/THCUNN.cpp
torch/csrc/nn/THNN_generic.cwrap
torch/csrc/nn/THNN_generic.cpp
torch/csrc/nn/THNN_generic.h
docs/src/**/*
test/data/legacy_modules.t7
test/data/gpu_tensors.pt
test/htmlcov
test/.coverage
*/*.pyc
*/**/*.pyc
*/**/**/*.pyc
*/**/**/**/*.pyc
*/**/**/**/**/*.pyc
*/*.so*
*/**/*.so*
*/**/*.dylib*
test/data/legacy_serialized.pt
*~
.idea
*.swp
/edges2shoes_exp/__pycache__/
/checkpoints
/edges2shoes_exp/__pycache__/edges2shoes_data.cpython-36.pyc
/edges2shoes_exp/__pycache__/model.cpython-36.pyc
/edges2shoes_exp/__pycache__/modules.cpython-36.pyc
/edges2shoes_exp/__pycache__/networks.cpython-36.pyc
/edges2shoes_exp/__pycache__/options.cpython-36.pyc
/edges2shoes_exp/__pycache__/evaluate.cpython-36.pyc
/augcgan_model_ETL.zip